---
pagination:
  data: systems
  size: 1
  alias: system
permalink: "/systems/{{ system.id }}/index.html"
layout: layouts/system.njk
title: "{{ system.name }} | Make Bold Spark"
description: "{{ system.summary }}"
---
